html, body {
    min-height: 100vh;
    height: 100vh;
    background-color: aliceblue;
}

main {
    margin-top: 61.42px !important;
    min-height: calc(100vh - 61.42px - 72px);;
    
}

@media (max-width: 992px) {
    main {
        margin-top: 100px; /* Adjust for when the navbar is expanded */
    }
}